/* Container for the form */
.form-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

/* Ensure all form fields span the full width */
.full-width {
  width: 100%;
}

/* Add spacing between fields and buttons */
.form-fields {
  margin-bottom: 20px;
}

.actions {
  margin-top: 20px;
}

.usertitle{
  text-align: center;
}
