<p>dashboard works!</p>
<mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
<!-- <app-comp-1 [priceMode]="displayMode + 'pandnu' + 300 + getdata()"></app-comp-1> -->

<!-- <app-comp-1 [priceMode]="(displayMode == 'hour')? displayMode + 'pandnu' + 300 + getdata() : getTest() "></app-comp-1> -->

<!-- it will take initial value -->
<!-- <app-comp-1></app-comp-1> -->

<!-- <app-comp-1 [planType]="displayMode"></app-comp-1> -->

<!-- <app-comp-1 [priceMode]="displayMode"></app-comp-1> -->

<app-comp-1></app-comp-1>

<!-- <app-comp-1 [mode]="displayMode"></app-comp-1> -->

<app-comp-2></app-comp-2>

<app-comp-3></app-comp-3>
